@media(max-width:768px) {
  

  #main-title{
    font-size: 15px;

  }
  #btn-control{
    margin-left:15px;
    margin-bottom:12px
  }
    #head-h h3 {
     display: none;
    }
    #btn-b img{
    width: 25px;
    height:25px;
    margin-top: 20px;
    margin-right: 40px;
    }
}

@media(max-width:600px) {
  #font-f1{
    display: none;
  }
}

@media(max-width:770px) {
  #log{
    position: absolute;
    right: 0;
    top: 0;
    padding-top:4px;
    padding-left: 3px ;
  }
}

@media(max-width:500px) {
  #size{
   width: 150px;
   height:100px;
  }
}