.bg-set{
        background-image: url('banner5.jpg');
        background-repeat: no-repeat;
        background-position: 0px 60px;
        background-size:cover;
        background-attachment: fixed;
}